<form [formGroup]="form" >
	<div *ngFor="let question of Questions; let questionIndex = index" [formGroup]="question">
		<div class="card my-2">
			<div class="card-header d-flex">
					<strong class="mr-1">{{questionIndex + 1}}.</strong>
					<input type="text" placeholder="Question {{questionIndex + 1}}" name="question{{questionIndex}}"  class="form-control mr-2 space-left" formControlName="question">
					<button *ngIf="formType === 'FLEXIBLE'" class="btn btn-danger" (click)="removeQuestion(questionIndex)">
						<span><i class="fas fa-trash"></i></span>
					</button>
			</div>
			<div class="card-block">
				<div *ngFor="let option of OptionsForQuestion(question); let optionIndex=index;" [formGroup]="option" class="d-flex justify-content-between py-2 px-2">
					<input type="radio" (change)="setAnswer(question,option)" class="form-check-input space-right" name="option{{questionIndex}}"  [checked]="isCurrentAnswer(question, option)">
					<input type="text" placeholder="Option" formControlName="text" class="form-control mr-2">
					<button *ngIf="formType === 'FLEXIBLE'" class="btn btn-danger" (click)="removeOption(question, optionIndex)"><span><i class="fas fa-trash"></i></span></button>
				</div>
			</div>
			<div class="card-footer" *ngIf="formType === 'FLEXIBLE'">
				<button class="btn btn-success" (click)="addOption(questionIndex)"><span><i class="fas fa-calendar-plus" ></i> &nbsp; Option</span> </button>
			</div>
		</div>
	</div>
	<button *ngIf="formType === 'FLEXIBLE'" (click)="addQuestion()" class="btn btn-success">
		<span><i class="fa fa-plus"></i></span> Question
	</button>
</form>

<button (click)="createTest()" class="btn btn-success mt-2" [disabled]="form.invalid || submissionInProgress" [innerHtml]="buttonText"></button>
