<app-loading *ngIf="loading"></app-loading>

<ng-template [ngIf]="utils.isLoaded(loading)">
  <ng-template [ngIf]="test">
	<h1 class="text-center">{{test.title}}</h1>
  <p class="lead">
    This test currently has {{questionCount}} questions.
  </p>
  <ng-template [ngIf]="test.questions">
    <div *ngFor="let question of test.questions; let q=index; trackBy:trackByIndex">
      <div class="card">
        <div class="card-header">
          {{question.text}}
        </div>
        <div class="card-block">
          <!-- <p class="lead" *ngFor="let option of question.options"></p> -->
            <!-- <input type="radio"> {{option.text}} -->
            <!-- make it an ol -->
            <div *ngFor="let option of question.options; let i=index;trackBy:trackByIndex">
            <div class="form-check form-check-inline" >
              <p class="lead">{{i + 1}}
      			<label class="form-check-label">
      				<input
      				type="radio"
      				 name="option+{{q}}"
      				 class="form-check-input space-right"
               (change)="flick(q,i)"
      				 required>{{option.text}}
      			</label>
          </p>
      		</div>

        </div>
        </div>
      </div>

    </div>

    <div>
      <button class="btn btn-primary" (click)="onSubmit()">Submit Test</button>
  </div>
  </ng-template>



	<p *ngIf="error" class="alert alert-danger">
	<strong>Oops!</strong> There was an error retrieving this test.</p>
</ng-template>
