<p class="lead">
  You are deleting the "<strong [innerHTML]="test.title"></strong>" test.
</p>

<p class="text-danger">
  Deleting this test will delete all associated data with it. Please proceed with caution!
</p>

<div class="form-group">
  <label for="deleteEvent">Confirm test title:</label>
  <input
    type="text"
    id="deleteEvent"
    class="form-control"
    name="deleteEvent"
    [(ngModel)]="confirmDelete">
</div>

<!-- Delete button -->
<p>
  <button
    class="btn btn-danger"
    (click)="removeEvent()"
    [disabled]="confirmDelete !== test.title || submitting">Delete Test</button>
  <!-- <app-submitting *ngIf="submitting"></app-submitting> -->
</p>

<!-- Error deleting event -->
<p *ngIf="error" class="alert alert-danger">
  <strong>Oops!</strong> There was an error deleting this test. Please try again.
</p>
